body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
section{
    height: 650px;
    width: 93%;
    margin-left: 7%;
    padding-left: 1%;
}

/********************************************* Start Navbar area ****************************************/
.navbar{
    position: fixed;
    margin-left: 0;
    width: 7.5%;
    height: 100%;
    background: linear-gradient(#e9eff0,#efecf1);
    padding-left: 0;
}
.content{
    width: 100%;
    display: block;
    text-align: center;
    
}
.navbar .content .nav-title{
    color: rgb(43, 187, 43);
    font-size: 25px;
}
.navbar .content .nav-item ul{
    list-style: none;
    padding-left: 0;
}
.navbar .content .nav-item ul li{
    padding: 30% 0;
    display: block;
    font-weight: 550;
    color: rgb(31, 30, 30);
    width: 100%;
}
.navbar .content .nav-item ul li:hover{
    background: #969e96;
}
.nav-item span{
    font-size: 25px;
    padding-top: 8%;
    display: inline-block;
}
.nav-item span:hover{
    background: rgb(58, 190, 190);
}
/*********************************************** End Navbar area **********************************************/

/*********************************************** Start banner area ********************************************/
.banner-area{
    padding-left: 2%;
}
.half-width{
    width: 43%;
    float: left;
    padding: 4% 3%;
    height: 80%;
}
.details-container{
    padding-top: 10%;
    height: 70%;
}
.half-width img{
    width: 100%;
}
.banner-area{
    background: url(images/header-bg.png);
    
}
.deeppink-text{
    color: #FF1493;
}
.half-width .name-banner{
    font-size: 40px;
    letter-spacing: 4px;
    line-height: 8px;
}
.para{
    font-size: 20px;
    color: gray;
    padding: 2% 0;
    text-align: justify;
    line-height: 30px;
}
.link-button{
    text-decoration: none;
    background: linear-gradient(45deg,#FF1493,#a33871);
    color: white;
    padding: 2% 6%;
    border-radius: 4px;
}
.link-button:hover{
    background: linear-gradient(45deg,#0d7c97,#adc71d);
}
/************************************************* End banner area *************************************************/


/************************************************** Start Bio area *************************************************/
.bio-area{
    background: url(images/biography-bg.png);
    height: 700px;
}
/************************************************** End Bio area **************************************************/


/*************************************************** Start Latest Work area ***************************************/
.latest-work{
    height: 500px;
    background: url(images/latest-work-bg.png);
}
.latest-work-content{
    height: 90%;
    margin: 0% 6%;
    margin-top: 6%;
}
.heading{
    text-align: center;
    margin: 5% 0;
    padding-top: 1%;
}
.latest-work .latest-work-content .single-work{
    width: 30%;
    float: left;
    margin: 1%;
    box-shadow: 10px 10px 40px #a1b38b;
}
.latest-work .latest-work-content .single-work:hover{
    box-shadow: none;
}
.latest-work .latest-work-content .single-work img{
    width: 100%;
}
/******************************************* End Latest Work area ************************************************/


/******************************************** Start Client area **************************************************/
.client-area{
    text-align: center;
    height: 400px;
    background: url(images/header-bg.png);
}
.client-area .client-title .client-name{
    font-weight: 700;
}
.client-area .mail-button-big{
   background: linear-gradient(45deg,#FF1493,#a33871);
   color: white;
   line-height: 40px;
   border-radius: 5px;
   display: block;
   width: 50%;
   text-align: center;
   margin-left: 25%;
   text-decoration: none;
}

.client-area .mail-button-big:hover{
    background: linear-gradient(45deg,#0d7c97,#adc71d);
}
.client-area .mail-button-big span{
    font-size: 25px;
}
/**************************************************** End Client area ***********************************************/

/**************************************************** Start Programming area ***********************************************/
.programming-area{
    height: 450px;
}
.programming-content{
    width: 90%;
    margin: auto;
    height: 250px;
}
.single-programming{
    width: 17%;
    float: left;
    padding: 2% 2%;
    padding-left: 3%;
    height: 70%;
    border-left: 7px solid;
    box-shadow: 8px 8px 30px #85c085;
    margin-right: 1.5%;
}
.single-programming:hover{
    box-shadow: none;
}
.programming-area .programming-content .single-programming h4{
    color: rgb(133, 73, 168);
    font-weight: 600;
    font-size: 25px;
}
#python{
    border-image: linear-gradient(salmon,rgb(195, 212, 40));
    border-image-slice: 1;
}
#cs{
    border-image: linear-gradient(rgb(37, 224, 62),rgb(192, 40, 212));
    border-image-slice: 1;
}
#cp{
    border-image: linear-gradient(rgb(19, 98, 218),rgb(51, 46, 2));
    border-image-slice: 1;
}
#js{
    border-image: linear-gradient(rgb(37, 224, 62),rgb(221, 18, 45));
    border-image-slice: 1;
}

/**************************************************** End Programming area ***********************************************/

/**************************************************** Start footer area *********************************************/
footer{
    background: url(images/footer-bg.png);
    height: 80px;
    box-shadow: 0px 0px 10px black;
}
footer .footer-content{
    color: black;
    font-weight: 500;
    text-align: center;
    line-height: 30px;
}
/****************************************************** End footer area ********************************************/